@model CMS.Core.AdvertisementModule.Controls.BannerControl

<div class="placeholder-ad">
	<div class="wrap-ad">
		<div id="zone@(Model.ZoneId)" class="goAdverticum"></div>
		<a class="caption" title="Ratecard" href="/ratecard"></a>
	</div>
</div>
