@model CMS.Core.AdvertisementModule.Controls.PerspectivaControl

@* Perspektíva hirdetés típus CSS. *@

<link rel="stylesheet" type="text/css" href="http://static.hvgrt.hu/mobius/css/al.css">

<div class="placeholder-ad">
    <div class="wrap-ad">
        <div id="zone@(Model.ZoneId)" class="goAdverticum"></div><a class="caption" title="Hirdetés" href="/ratecard"></a>
    </div>
</div>