@model CMS.Core.AdvertisementModule.Controls.ViewportAwareBannerControl

<div class="placeholder-ad" data-zoneid="@(Model.ZoneId)" style="display:none;">
    <div class=" wrap-ad">
    <div data-zoneid="@(Model.ZoneId)" data-type="ViewportAwareBannerControl"></div><a class="caption" title="Hirdetés" href="/ratecard"></a>
</div>
</div>